# linux
alias u='uname -a'
# systemd
alias sc='systemctl -l --no-pager'
alias sc-suspend='systemctl suspend'
# git
alias gsu='git submodule update --remote --merge'
# arch
alias piku='pikaur -Syu --devel --needed'
# fedora/dnf
alias dnfs='sudo dnf search'
alias dnfp='sudo dnf info'
alias dnfut='sudo dnf upgrade --enablerepo=updates-testing --enablerepo=updates-testing-modular'
alias dnfit='sudo dnf install --enablerepo=updates-testing --enablerepo=updates-testing-modular'
alias dnfutd='sudo dnf upgrade --enablerepo=updates-testing --enablerepo=updates-testing-modular --downloadonly -y'
alias dnfdt='sudo dnf distro-sync --enablerepo=updates-testing --enablerepo=updates-testing-modular --allowerasing'
alias dnfdtr='sudo dnf distro-sync --enablerepo=updates-testing --enablerepo=updates-testing-modular --refresh --allowerasing'
alias dnfdtd='sudo dnf distro-sync --enablerepo=updates-testing --enablerepo=updates-testing-modular --downloadonly -y --allowerasing'
alias dnfdtdr='sudo dnf distro-sync --enablerepo=updates-testing --enablerepo=updates-testing-modular --downloadonly -y --refresh --allowerasing'
alias karma='fedora-easy-karma --fas-username=johnp117'
alias karma-update='fedora-easy-karma --fas-username=johnp117 --include-commented'
# gpg -> gpg2
alias gpg='gpg2 --expert'
# local repositories
alias repos='cd ~/Repos'
# syncthing folders
alias work='cd ~/Sync/Work'
alias projects='cd ~/Sync/Projects'
alias uni='cd ~/Sync/Uni\ Bamberg'
# clear LESS environment variable for man
alias man='LESS= man'
# system logs
alias journal='journalctl -xeb'
alias journale='journalctl -xeb -p 3'
alias journalf='journalctl -f -xeb'
alias journalu='journalctl -xe -u'
alias journalfu='journalctl -f -xe -u'
alias dmesg='sudo dmesg -H'
# fast restart
alias kexec-restart='sudo systemctl start kexec.target --job-mode=replace-irreversible'
# <3 exa
alias l='exa --group-directories-first'
alias ll='exa -lg --group-directories-first'
alias la='exa -laag --group-directories-first'
alias lm='exa -lgs modified --group-directories-first'
alias lmr='exa -lgs modified --group-directories-first --reverse'
alias lt='exa -lgT'
# TODO: replace with sharkdp/diskus
alias du='du -sh'
alias dufs='du -sh * | sort -h'
# common-aliases only does 'rm -i', but '--one-file-system' should IMHO also be default
alias rm='rm -i --one-file-system'
# common-aliases only does 'cp -i', but I'd like to make better use of COW
alias cp='cp -i --reflink=auto --sparse=always'
# piping
alias -g G='| rg -i'
alias -g Gstr='| rg -iF'
alias -g S='| sort'
alias -g Sh='| sort -h'
alias -g B='| bat'
# various stuff
alias copy='xclip'
alias httpserver='python3 -m http.server --bind 127.0.0.1'
alias fjs='firejail --nosound --net=none --private --private-tmp --private-dev'
alias fjss='firejail --net=none --private --private-tmp --private-dev'
alias wttr='curl wttr.in?format=v2'
alias wttr1='curl wttr.in'
# media
alias ytdlF='youtube-dl -F'
alias ytdllf='youtube-dl -F'
alias ytdlgf='youtube-dl --get-format'
alias mpvs='mpv --profile=stream'
alias mpvs720p='mpv --profile=stream --ytdl-format=720p'
alias mpvjp='mpv --profile=jp'
alias mpvjp180='mpvjp --profile=jp --vf=sub,rotate --video-rotate=180'
# minimum light setting on laptop
alias minlight='light -S 0.54'

# if they are set (e.g. by common-aliases), unset these aliases
# these are ='sudo'
alias _      &>/dev/null && unalias _
alias please &>/dev/null && unalias please
# sharkdp/fd (fd-find) is better, so use it if installed
if command -pv fd &>/dev/null; then
  alias fd &>/dev/null && unalias fd
fi
