# systemd
alias sc='systemctl -l --no-pager'
# fedora dnf aliases
alias dnfs='sudo dnf search'
alias dnfp='sudo dnf info'
alias dnfut='sudo dnf upgrade --enablerepo=updates-testing'
alias dnfit='sudo dnf install --enablerepo=updates-testing'
alias dnfutd='sudo dnf upgrade --enablerepo=updates-testing --downloadonly -y'
alias dnfdt='sudo dnf distro-sync --enablerepo=updates-testing --allowerasing'
alias dnfdtr='sudo dnf distro-sync --enablerepo=updates-testing --refresh --allowerasing'
alias dnfdtd='sudo dnf distro-sync --enablerepo=updates-testing --downloadonly -y --allowerasing'
alias dnfdtdr='sudo dnf distro-sync --enablerepo=updates-testing --downloadonly -y --refresh --allowerasing'
alias karma='fedora-easy-karma --fas-username=johnp117'
alias karma-update='fedora-easy-karma --fas-username=johnp117 --include-commented'
# gpg -> gpg2
alias gpg='gpg2 --expert'
# locally checked out repositories
alias repos='cd ~/Repos'
# aliases for syncthing folders
alias work='cd ~/Sync/Work'
alias projects='cd ~/Sync/Projects'
alias uni='cd ~/Sync/Uni\ Bamberg'
# dmesg
alias dmesg='sudo dmesg -H'
# common-aliases only does 'rm -i', but '--one-file-system' should IMHO also be default
alias rm='rm -i --one-file-system'
# better systemd-journal
alias journal='journalctl -xeb'
# <3 exa
alias l='exa --group-directories-first'
alias ll='exa -lg --group-directories-first'
alias la='exa -laag --group-directories-first'
alias lm='exa -lgs modified --group-directories-first'
alias lmr='exa -lgs modified --group-directories-first --reverse'
alias lt='exa -lgT'
# TODO: replace with sharkdp/diskus
alias du='du -sh'
alias dufs='du -sh * | sort -h'
# some piping
alias -g G='| rg -i'
alias -g Gstr='| rg -iF'
alias -g S='| sort'
alias -g Sh='| sort -h'
alias -g B='| bat'
# some shortcuts
alias copy='xclip -selection c'
# clear LESS config variable for man
alias man='LESS= man'
# fun
alias pikachu='pikaur -Syu --devel --needed --keepbuild'
alias ytdlF='youtube-dl -F'
alias ytdllf='youtube-dl -F'
alias ytdlgf='youtube-dl --get-format'
alias mpvs='mpv --profile=stream'
alias mpvs720p='mpv --profile=stream --ytdl-format=720p'
alias mpvjp='mpv --profile=jp'
alias httpserver='python3 -m http.server 8000 --bind 127.0.0.1'
# minimum light setting on laptop
alias minlight='light -S 0.54'

# if they are set (e.g. by common-aliases), unset these aliases
# these are ='sudo'
alias _      &>/dev/null && unalias _
alias please &>/dev/null && unalias please
# sharkdp/fd (fd-find) is better, so use it if installed
if command -pv fd &>/dev/null; then
  alias fd &>/dev/null && unalias fd
fi
