# archupdate alias
alias archupdate='tmpfile=$(mktemp /tmp/archupdate_log.XXX) ; tmux new -Ad -s archupdate -n archupdate "_archupdate | tee ${tmpfile}" \; set status off \; attach ; cat "${tmpfile}"'
# fedora dnf aliases
alias dnfut='sudo dnf upgrade --enablerepo=updates-testing'
alias dnfit='sudo dnf install --enablerepo=updates-testing'
alias dnfutd='sudo dnf upgrade --enablerepo=updates-testing --downloadonly -y'
alias dnfdt='sudo dnf distro-sync --enablerepo=updates-testing --allowerasing'
alias dnfdtr='sudo dnf distro-sync --enablerepo=updates-testing --refresh --allowerasing'
alias dnfdtd='sudo dnf distro-sync --enablerepo=updates-testing --downloadonly -y --allowerasing'
alias dnfdtdr='sudo dnf distro-sync --enablerepo=updates-testing --downloadonly -y --refresh --allowerasing'
alias karma='fedora-easy-karma --fas-username=johnp117'
alias karma-update='fedora-easy-karma --fas-username=johnp117 --include-commented'
# gpg -> gpg2
alias gpg='gpg2 --expert'
# locally checked out repositories
alias repos='cd ~/Repos'
# aliases for syncthing folders
alias work='cd ~/Sync/Work'
alias projects='cd ~/Sync/Projects'
alias uni='cd ~/Sync/Uni\ Bamberg'
# sudo alias fix
alias sudo='sudo '
# common-aliases only does 'rm -i', but '--one-file-system' should IMHO also be default
alias rm='rm -i --one-file-system'
# some more
alias journal='journalctl -xeb'
# overwrite lt alias for reverse sorting
alias lt='ls -ltFhr'
# pipe ripgrep
alias G=' | rg -i'
alias Gstr=' | rg -iF'

# unset aliases that I don't like
# these are ='sudo'
unalias _
unalias please
