[user]
	name = Johannes Pfrang
	email = johannespfrang@gmail.com
	signingkey = 0x3E518B72D7FEB8D1

[alias]
	# shortcuts
	l = log --pretty=oneline -n 10 --graph --abbrev-commit
	s = status -s
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	amend = commit --amend --reuse-message=HEAD

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[push]
	default = simple
[commit]
	gpgsign = true
[diff]
	compactionHeuristic = true
