[user]
	name = Johannes Pfrang
	email = johannespfrang@gmail.com
	# johnp-pc signing subkey
	signingkey = 4DBF2162E803DF2A05FD61D33E518B72D7FEB8D1!
#	signingkey = 0x3E518B72D7FEB8D1!
	# yubikey signing subkey
#	signingkey = 29889C1529FCFAE7D672D621A9E4BE324D605C9E!
#	signingkey = 0xA9E4BE324D605C9E!

[alias]
	# shortcuts
	l = log --pretty=oneline -n 10 --graph --abbrev-commit
	s = status -s
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	amend = commit --amend --reuse-message=HEAD
    patch = !git --no-pager diff --no-color

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[push]
	default = simple
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[diff]
	compactionHeuristic = true
[gpg]
	program = gpg2
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '
