[Desktop Entry]
Name=Firefox Nightly
GenericName=Web Browser
Comment=Browse the Web
# XXX: ptrace is used during shutdown of firefox nightly: return EPERM for now, because there's no 'append to whitelist' in firejail (seccomp.keep overwrites inbuilt whitelist)
Exec=firejail --shell=none --name=browser --tracelog --env=JS_OPTION_USE_UNBOXED_ARRAYS=1 --env=JSGC_DISABLE_POISONING=1 --env=MOZ_QUIET=1 --seccomp.eperm=ptrace --whitelist=/opt/nightly/ --whitelist=~/.tmp --whitelist=~/Sync --read-write=~/.config/nextpage.lisp -- /opt/nightly/firefox %u
Path=/opt/nightly/
Terminal=false
Type=Application
Icon=firefox-nightly-icon
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=true
Actions=NewTab;NewWindow;NewPrivateWindow;

[Desktop Action NewTab]
Name=Open new tab
Exec=/opt/nightly/firefox -new-tab about:newtab

[Desktop Action NewWindow]
Name=Open new window
Exec=/opt/nightly/firefox -new-window

[Desktop Action NewPrivateWindow]
Name=New private window
Exec=/opt/nightly/firefox -private-window
