[Desktop Entry]
Name=Firefox Nightly
GenericName=Web Browser
Comment=Browse the Web
# ptrace is used during shutdown of firefox nightly: return EPERM for now, because there's no 'append to whitelist' in firejail (seccomp.keep seems to override profile whitelist)
# not sure why .lastpass is outside of profile; string is quoted, because tilde is a reserved character in desktop files
Exec=firejail --shell=none --tracelog --env=JSGC_DISABLE_POISONING=1 --seccomp.eperm=ptrace --whitelist=/opt/nightly/ --whitelist=~/.lastpass --whitelist=~/Sync -- /opt/nightly/firefox %u
Path=/opt/nightly/
Terminal=false
Type=Application
Icon=firefox-nightly-icon
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=true
Actions=NewTab;NewWindow;NewPrivateWindow;

[Desktop Action NewTab]
Name=Open new tab
Exec=/opt/nightly/firefox -new-tab about:newtab

[Desktop Action NewWindow]
Name=Open new window
Exec=/opt/nightly/firefox -new-window

[Desktop Action NewPrivateWindow]
Name=New private window
Exec=/opt/nightly/firefox -private-window
